

<mat-drawer-container class="nytimes-container" [hasBackdrop]="true" (backdropClick)="drawer.close()">
  <mat-drawer #drawer [mode]="'push'" [position]="'end'">
  	<mat-selection-list [multiple]="false" #sectionsSelection [(ngModel)]="selectedItem" (ngModelChange)="selectItem($event)">
	  <mat-list-option (click)="drawer.close();goToArticles()" *ngFor="let section of sectionsList" [value]="section">
	    {{section}}
	  </mat-list-option>
	</mat-selection-list>
  </mat-drawer>
  <mat-drawer-content>
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

	  <mdb-navbar-brand><a class="navbar-brand" href="#">NY TIMES / <span class="title">{{selectedTitle}}</span></a></mdb-navbar-brand>

	  <links>

	    <ul class="navbar-nav ml-auto">
	      <li class="nav-item active">
	        <a class="nav-link waves-light mr-20" mdbWavesEffect (click)="goToArticles()"><img class="nav-link-icon" src="../assets/Icons/icons8-home.svg"></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link waves-light mr-20" mdbWavesEffect [routerLink]="['/homePage/bookmarked']"><img class="nav-link-icon" src="../assets/Icons/icons8-bookmark.svg"></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link waves-light" (click)="drawer.toggle()" mdbWavesEffect><img src="../assets/Icons/icons8-menu.svg"></a>
	      </li>
	    </ul>
	  </links>


	</mdb-navbar>

	<router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>